body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF7CD;
  height: 100vh;
}

.container {
  background-color: #FDC3A1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px #fdc3a1cf;
  width: 70%;
  max-width: 1000px;
}

h1 {
  text-align: center;
  font-size: 32px;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.menu-item {
  text-align: center;
  width: 30%;
  background-color: #FB9B8F;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px #fb9c8fdc;
}

.menu-item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.add-to-cart {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #F57799;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #d33a63;
}

.cart {
  margin-top: 30px;
  text-align: center;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart li {
  margin: 10px 0;
}

#place-order {
  padding: 10px 20px;
  background-color: #ff0088;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#place-order:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}